body{

    background:  #9CA777;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    
}

.left-side{
    position: fixed;
    width: 41.5%;
    top: 4vh;
    left: 10vh;
}


.right-side{
    z-index: -1;
}

.page-title{
    font-style: normal;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;
}

.by-who{
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}

.app-title{
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #FFF3D3;
}

.app-info-link{
    font-size: 20px;
    line-height: 24px;
    color: #4751ad;
}

.app-info-link:hover{
    color: #2b316a;
}

.app-text{
    font-size: 26px;
    line-height: 32px;
    
    color: #FFF3D3;
}

.stripe{
    position: fixed;
    width: 814px;
    height: 4px;

    left: 30%;
    top: 50vh;  

    transform: rotate(90deg);

    background-color: #FFF3D3;
}



.right-txt{
    font-size: 20px;
    line-height: 24px;

    width: 777px;
    height: 342px;

    position: fixed;

    right: 10vh;
    bottom: -0.5vh;

    color: #FFF3D3;
}

@media (max-width: 1680px) {

    .right-txt{
        font-size: 20px;
        line-height: 24px;
    
        width: 35%;
        height: 342px;
    
        position: fixed;
    
        right: 8vh;
        bottom: 6.5vh;
    
        color: #FFF3D3;
    }
    
}


.slider{
    left: 68%;
    top: 9.5vh;

}

.rmmt-icon{
    position: fixed;
    width: 3.5%;
    left: 95.8%;
    bottom: 1.8%;
}