body{
    background: #FFF3D3;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.left-side{
    position: fixed;
    width: 43%;
    top: 1vh;
    left: 10vh;
}

.right-side{
    z-index: -1;
}

.page-title{
    font-style: normal;
    font-size: 48px;
    line-height: 59px;


    color: #6F8065;
    
}

.by-who{
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #6F8065;
}

.app-title{
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #6F8065;
}

.app-info-link{
    font-size: 20px;
    line-height: 24px;
    color: #4751ad;
}

.app-info-link:hover{
    color: #2b316a;
}

.app-text{
    font-size: 26px;
    line-height: 32px;
    
    color: #6F8065;
}

.stripe{
    position: fixed;
    width: 814px;
    height: 4px;

    left: 30%;
    top: 50vh;  

    transform: rotate(90deg);

    background-color: #6F8065;
}

.slider{
    left: 130vh;
    top: 7vh;

}