.slider {
    position: relative;
    width: 550px;
    height: 386px;
    overflow: hidden;
  }
  
  .slider-images {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .prev-btn,
  .next-btn {
    background-color: rgb(200, 200, 200);
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  
  .prev-btn {
    margin-right: 5px;
  }
  
  .next-btn {
    margin-left: 5px;
  }
  